*{
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(100, 69, 32);
  font-family: sans-serif;
  font-size: 1.2rem;
}


main{
  display: grid;
  grid-template-rows: 20vh 10vh 60vh 10vh ;
  grid-template-columns: 1fr 2fr 1fr ;
  place-items: stretch stretch;  
}

header{
  align-content: center;
  text-align: center;
  border: 3px solid black;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

nav{
  align-content: center;
  text-align: center;
  border: 3px solid black;
  grid-row: 2 / 3 ;
  grid-column: 1 / -1;
}


article{
  align-content: center;
  text-align: center;
  border: 3px solid black;
  grid-row: 3 / 4 ;
  grid-column: 1 / span 2;
}

aside{
  align-content: center;
  text-align: center;
  border: 3px solid black;
  grid-row: 3 / 4 ;
  grid-column: 3 / -1;
}

footer{
  align-content: center;
  text-align: center;
  border: 3px solid black;
  grid-row: -2 / -1 ;
  grid-column: 1 / -1;
}
